<p style="color: red"><%= alert %></p>

<h1 class="text-center mb-6">Forgot your password?</h1>

<%= form_with(url: identity_password_reset_path, class: "flex flex-col gap-4 w-full max-w-sm") do |form| %>
  <%= form.ui_email_field :email, label: :email, required: true, autofocus: true %>
  <%= form.ui_submit "Send password reset email" %>
<% end %>
