<div class="navbar bg-white shadow">
  <div class="navbar-start">
    <%= ui_button "ShopingList", url: root_path, kind: :ghost %>
  </div>
  <div class="navbar-center hidden">

  </div>
  <div class="navbar-end">
    <div class="flex-none">
      <ul class="menu menu-horizontal px-1">
        <li>
          <%= ui_dropdown align: :end, content_classes: "mt-3", id: "navbar_toggle" do |c| %>
            <% c.with_menu_item_link_to "Mes listes", "#" %>
            <% c.with_menu_item_divider %>
            <% c.with_menu_item_button_to "Se déconnecter", Current.session, method: :delete, id: :sign_out %>
            <% c.with_toggle_open do %>
              <%= heroicon "x-mark", options: {class: "w-6 h-6"} %>
            <% end %>
            <% c.with_toggle_close do %>
              <%= heroicon "bars-3", options: {class: "w-6 h-6"} %>
            <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
