<div class="navbar bg-white shadow">
  <div class="navbar-start">
    <%= ui_button url: root_path, kind: :ghost do %>
      <%= heroicon "shopping-bag", options: {class: "h-8 w-8 fill-primary"} %>
    <% end %>
  </div>

  <div class="navbar-end">
    <div class="flex gap-4 items-center">
      <%= link_to t('sign_up'), sign_up_path, class:"btn btn-primary btn-outline" %>
      <%= link_to t('login'), sign_in_path, class:"btn btn-primary" %>
    </div>
  </div>
</div>
