<div class="hero min-h-[calc(100vh-4rem)]">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold"><%= t(".title") %></h1>
      <p class="py-6"><%= t(".subtitle") %></p>
      <%= ui_button t(".cta_text"), url: page_path(:documentations) %>
    </div>
  </div>
</div>
