<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="pt-16">
      <%= yield %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
