<!DOCTYPE html>
<html>
  <head>
    <%= render "layouts/head" %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <div class="min-h-screen w-full flex flex-col items-center justify-center prose">
      <%= yield %>
    </div>
  </body>
</html>
